.home {
  h1 {
    font-size: 1.5rem;
  }
  .card_img {
    height: 250px;
    object-fit: cover;
  }
  .tags {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 5px;
    cursor: pointer;
  }
}
