.navibar {
  h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #428bff;
    gap: 10px;
    &:hover {
      color: #424cff;
    }
  }

  @include media-breakpoint-down(lg) {
    .title {
      h1,
      p {
        display: none;
      }
    }
  }

  .search {
    max-width: 350px;
    margin-right: 50px;
  }
}

.logout {
  color: #428bff;
  width: 25px;
  height: 25px;
  &:hover {
    color: #7e1111;
  }
}

.lang {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #acacac;
  cursor: pointer;
}

.ru,
.en {
  color: #428bff;
}

:root[data-theme='light'] {
  .navbar {
    background-color: $light;
  }
}

:root[data-theme='dark'] {
  .navbar {
    background-color: $dark;
  }
  .form-control {
    background-color: #d5d4d4;
  }
  .navbar-toggler {
    border-color: #fff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}
