@import '~bootstrap/scss/bootstrap';
@import './components/navbar';
@import './components/auth';
@import './components/mypage';
@import './components/items';
@import './components/homepage';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
}

table {
  min-width: 700px;
}

.app {
  position: relative;
  max-width: 1200px;
  border-radius: 7px;
  margin: 15px auto;
  padding-bottom: 30px;
}

:root[data-theme='light'] {
  body {
    background-color: #d7d7d7;
  }
  .app {
    background-color: #e9e9e9;
  }
}

:root[data-theme='dark'] {
  body {
    background-color: #2b3e51;
    color: #ffffff;
  }
  .app {
    background-color: #3e3e42;
  }
}

.markfield {
  p {
    margin: 0;
  }
}

.active {
  font-weight: 700;
}
